@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');
body {
    background-color: #1F1501;
    font-family: 'Roboto', sans-serif;
}

.top-gradasi{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 575px;
    top: -205px;
    background: radial-gradient(71.74% 71.74% at 50% 28.26%, rgba(189, 161, 62, 0.75) 0%, rgba(43, 43, 43, 0) 100%);
}

.wave{
    z-index: -1;
    width: 100%;
    margin-top: -8%;
}

h1.brand{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 10vw;
    margin-top: 4%;
    color: #ffffff;
}
